<h1>Olá, <%= locals.name %></h1>
<p>Recentemente foi solicitado a recuperação de senha da sua conta no sistema <%= locals.system %>.</p>
<p>Seu código de verificação é: <b style="border: 1px solid black; padding: 15px;"><%= locals.verificationCode %></b></p>.